/* app css stylesheet */

/* RJC:  IE always shows vertical scrollbar, plus nav looks wierd when switching */
html {
    overflow-y: scroll;
}


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}



/******** Grid Global ********/
.nglabel {
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 5px;
}
.ngNoSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/******** Grid ********/

.ngGrid{
    background-color: rgb(253, 253, 253);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/******** Header ********/

.ngGroupPanel{
    background-color: rgb(234, 234, 234);
    overflow: hidden;
    border-bottom: 1px solid rgb(212,212,212);
}

.ngGroupPanelDescription{
    margin-top: 5px;
    margin-left: 5px;
}

.ngGroupList {
    list-style-type: none;
}

/******** Footer ********/

.ngFooterPanel {
    height: 30px important!;
}




/*style.css*/
.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: none imortant!;
    height: 420px;
}

.selectedItems{
    float: left;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}