
<!-- exemplifies inclusion of html snippets from within other partials -->
<p class="alert alert-error"><span class="label label-important">Error!</span><br>Example error alert with accompanying label.</p>
<p class="alert alert-warning"><span class="label label-warning">Warning!</span><br>This is an example warning alert with accompanying label.</p>
<p class="alert alert-info"><span class="label label-info">Heads up!</span><br>This is an example info alert with accompanying label.</p>
<p class="alert alert-success"><span class="label label-success">Success!</span><br>Example success alert with accompanying label.</p>