<div fade-in>
        <div class="container-fluid">

            <h2>Employees</h2><p>Exemplifies data grid, paging, JSON parsing, sorting, filtering, and html inclusion.</p>

                <div class="row-fluid">
                    <div>
                        <div class="span9">
                            <div class="gridStyle" ng-grid="gridOptions"></div>
                        </div>
                    </div>

                    <div class="span3">
                      <ng-include src="'partials/alerts.html'"></ng-include>
                    </div>

                </div>
        </div>
</div>