<div fade-in>


    <div>
        <span>Foo</span>
        <button type="submit" class="btn">logout</button>
    </div>

    <div class="navbar" style="height:30px;">
        <span>Foo</span>
        <button type="submit" class="btn">logout</button>
    </div>

    <div class="container">

        <div class="hero-unit">
            <h1>{{constants.hero_title}}</h1>
            <p>{{constants.lorem_ipsum}}</p>
            <p><a href="#/" class="btn btn-primary btn-large">{{constants.hero_button}} &raquo;</a></p>
        </div>

        <!-- Example row of columns -->
        <div class="row">
            <div class="span4">
                <h2>{{constants.landing_section_1}}</h2>
                <p>{{constants.lorem_ipsum_short}}</p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>{{constants.landing_section_2}}</h2>
                <p>{{constants.lorem_ipsum_short}}</p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>{{constants.landing_section_3}}</h2>
                <p>{{constants.lorem_ipsum_short}}</p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>